@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width:400px) {
    .ShlokaDetail
    {
        width: 75px;
    }
}

body{
    min-height: auto !important;
    top: 0px !important;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd, .VIpgJd-ZVi9od-l4eHX-hSRGPd{
    display: none;
}

.skiptranslate{
    font-size: 0 !important;
}